

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin-bottom: auto;
    margin-top: auto;
    justify-content: space-between;
}


h1 {
    color: black;
    font-size: 40px;
    align-self: center;
    margin-right: 250px;
    margin-top: 75px;
}

.head {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

